@import "../../../global.scss";


.gameContainer {
  display: grid;
  grid-template-columns: 55vw 20vw;
  grid-template-rows: 67vh 25vh;
  position: relative;
}

.gameQuestions {
  grid-column: 1/2;
  background-color: $mainColor;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;

  .gameTimer {
    position:absolute;
    top: 10vh;
    left:8vw;
    background: $secondColor;
    border-radius: 50%;
    padding: 20px;
  }
  .gameMode {
    position: absolute;
    top:10vh;
    right:7.5vw;
    background: $secondColor;
    border-radius: 20px;
    padding: 20px;
  }
  .gameQuestion {
    margin-top: 25vh;
    width: 40vw;
    height: 25vh;
    background: $secondColor;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.progressionMap {
  grid-column: 2/3;
  background-color: rgb(172, 165, 165);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .questionMapItem {
    list-style: none;
    text-decoration: none;
    border-radius: 20px;
    background: $mainColor;
    margin: 5px 5px;
    padding: 0.2vw;
  }
  .questionMapItem.active {
    list-style: none;
    text-decoration: none;
    border-radius: 20px;
    background: $secondColor;
    margin: 5px 5px;
    padding: 0.2vw;
  }
}
.gameAnswers {
  grid-column: 1/3;
  grid-row: 2/3;
  background: $secondColor;
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 10vh 10vh;
  grid-gap: 15px;
  text-align: center;
  padding: 10px;



  .gameAnswerA,
  .gameAnswerB,
  .gameAnswerC,
  .gameAnswerD {
    margin-left: 7vw;
    border-radius: 20px;
    background: $mainColor;
  }
  .gameAnswerA:hover,
  .gameAnswerB:hover,
  .gameAnswerC:hover,
  .gameAnswerD:hover {
    margin-left: 7vw;
    border-radius: 20px;
    background: white;
  }


}
