
.modeContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.modeTitle {
    margin: 5vw 5vh 5vw 5vh;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 5vh;
}

.modeSelect {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    flex-direction: column;
    padding: 30px;
    width: 70%;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    border-radius: 40px;
    
}