.navbar {
  width: 75vw;
  height: 8vh;
  background-color: rgba($color: #003973, $alpha: 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px 40px 0px 0px;

  p {
    font-size: 2.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  

    @media (max-width: 900px) {
      font-size: 3vw;
    }
    @media (max-width: 600px) {
      font-size: 3.5vw;
    }
  }
}

.navlinks {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.navlinks li {
  text-decoration: none;
  list-style: none;
  margin: 1vw;
  display: flex;
  justify-content: space-around;
  font-size: 1.5vw;
  
  @media (max-width: 900px) {
    font-size: 2vw;
  }
  @media (max-width: 600px) {
    font-size: 2.5vw;
  }
}
.navlinks a li:hover {
  color:crimson;
  transform:scale(1.1);
}

@media (max-width: 900px) {
  
}