@import "./global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  
}

.GlobalApp {
  background: url("https://www.pexels.com/photo/text-1089440/");
  object-fit: cover;
}

.container {
  height: 92vh;
  width: 75vw;
  display: flex;
  margin: 0 auto;
  background-color: $mainColor;
}
.appContainer {
  @include flex-center;
}
.menu {
  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
  grid-gap: 20px;
}
.play {
  background-color: rgb(218, 198, 198);
  @include flex-center;
  @include border-radius;
  @include font-weight;
}
.mode {
  background-color: rgb(194, 157, 157);
  @include flex-center;
  @include border-radius;
  @include font-weight;
}
.settings {
  background-color: rgb(160, 116, 116);
  @include flex-center;
  @include border-radius;
  @include font-weight;
}
.resources {
  background-color: rgb(161, 109, 109);
  @include flex-center;
  @include border-radius;
  @include font-weight;
}
.challenge {
  background-color: rgb(150, 103, 103);
  @include flex-center;
  @include border-radius;
  @include font-weight;
}
.materials {
  background-color: rgb(158, 88, 88);
  @include flex-center;
  @include border-radius;
  @include font-weight;
}
