@import "../../global.scss";

.playContainer {
    @include flex-center;
    flex-direction: column;
}

.playTitle {
    margin-top: 10vh;
}

.playTitle2 {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.playIntro {
    margin-bottom: 10vh;
}

.playButton {
    width: 100px;
    height: 50px;
} 